version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: sisocc_postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=sisocc_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: